footer{
  .outer {
    position: relative;
    overflow:hidden;
  }
  .inner {
    position:relative;
    top:16px;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .inner {
      top:31px;
    }
   }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {}

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {}
}
