

.main-menu{
  ul{
    list-style:none;
    margin:0;
    padding:0;
  }

  li{
    margin:0;
    padding:0;

  }

  .menuitem{
    display: inline-block;
  }
}
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.menu-icon{
  background: no-repeat url("../images/menu-icon.png");
  display:block;
  cursor:pointer;
  width:42px;
  height:42px;
}
.close-icon{
  background: no-repeat url("../images/close-icon.png");
}
